/* color */
:root{
    --bg-color: rgb(27, 27, 27);
    --text-color-main: rgb(237, 237, 237);
    --text-color-support: rgb(102, 102, 102);

}
/* color */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color-main);
}

/* nav start */

.menu{
    margin: 1rem 3rem;
}

.menu-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20rem;
}

.menu-container a{
    text-decoration: none;
    color: var(--text-color-main);
    font-size: 18px;
}

.menu-container h1{
    color: var(--text-color-main);
    font-size: 20px;
    font-weight: 400;
}

nav{
    display: flex;
    flex-direction: row;
    margin: 1rem 3rem;
    gap: 5rem;
    justify-content: center;

}

.nav{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-left: 50px;
}

.nav a{
    text-decoration: none;
    color: var(--text-color-main);
    font-size: 18px;
}

.nav-social{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.social-card img{
    border: 2px solid var(--text-color-main);
    background-color: var(--text-color-main);
    border-radius: 30px;
}

/* nav end */
/* start home */

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 3rem;
}

.home-bg img{
    width: 1170px;
}

.home-text {
    margin-top: -80px;
    display: flex;
    flex-direction: row;
    gap: 300px;
}

.home-h1 h1{
    color: var(--text-color-main);
    font-size: 45px;
    width: 450px;
    padding-left: 100px;
    font-weight: 100;
}

.home-a{
    margin-top: 100px;
}

.home-a a{
    text-decoration: none;
    color: var(--bg-color);
    border: 2px solid var(--text-color-main);
    background-color: var(--text-color-main);
    padding: 10px 20px;
    font-size: 20px;
}

/* home end */
/* about start */

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 3rem;
}

.about-h1{
    margin-top: 100px;
    margin-bottom: 20px;
}

.about-h1 h1{
    text-align: center;
    font-size: 35px;
    font-weight: 200;
}

.about-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 900px;
    gap: 5rem;
    margin-left: 100px;
}

.about-card-1 h3{
    color: var(--text-color-support);
    padding-bottom: 10px;
}

.about-card-1 hr{
    border: 1px solid var(--text-color-support);
    margin-bottom: 10px;
    width: 250px;
}

/* about end */
/* keyframes start */

.keyframes{
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.keyframes-main{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.keyframes-main p{
    font-size: 35px;
    color: var(--text-color-support);
    animation: text 7s infinite linear;
    animation-direction: alternate;
    padding-left: 100%;
    width: 1000px;
    text-align: center;
}

@keyframes text {
    0%{
      transform: translate(0, 0);
    }
    
    100%{
      transform: translate(-100%, 0);
    }
  }
.keyframes-img img{
    width: 1170px;
}

/* keyframes end */
/* advantages start */

.advantages{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 3rem;
}

.advantages-h1{
    text-align: center;
    width: 1170px;
}

.advantages-h1 h1{
    font-size: 35px;
    font-weight: 200px;
    margin-bottom: 20px;
    font-weight: 200;
}

.advantages-card{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    padding: 20px;
    width: 1170px;
}

.advantages-card-1{
    border: 2px solid var(--text-color-main);
    padding: 15px;
}

.advantages-card-1 h2{
    font-weight: 200;
    padding-bottom: 5px;
    font-size: 22px;
}

.advantages-card-1 img{
    padding-bottom: 5px;
}

.advantages-card-1 p{
    font-size: 18px;
}

/* advantages end */
/* card-1 start */

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 3rem;
}

.card h1{
    font-size: 35px;
    font-weight: 200px;
    margin-bottom: 40px;
    font-weight: 200;
    margin-top: 100px;
    text-align: center;
}

.card-1-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1170px;
    margin-top: 20px;
}

.card-1-img img{
    width: 700px;
    margin-left: -300px;
}

.card-1-container{
    position: absolute;
    border: 2px solid var(--text-color-support);
    padding: 30px;
    background-color: var(--bg-color);
    margin-left: 500px;
}

.card-1-container table{
    border-spacing: 30px 10px;
}

.card-1-table h3{
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 200;
    text-align: center;
}

.card-1-table td{
    border-bottom: 2px dotted var(--text-color-support);
    font-size: 20px;
}

.td-center{
    text-align: center;
}

.card-1-button{
    margin-top: 10px;
    text-align: center;
}

.card-1-button a{
    text-decoration: none;
    color: var(--bg-color);
    border: 2px solid white;
    background-color: var(--text-color-main);
    font-size: 22px;
    padding: 5px 15px;
}

/* card-1 end */
/* card-2 start */

.card-2-container{
    position: absolute;
    border: 2px solid var(--text-color-support);
    padding: 30px;
    background-color: var(--bg-color);
    margin-top: 150px;
}

.card-2-img img{
    width: 700px;
    margin-left: 300px;
    padding-top: 30px;
}

.card-2-container table{
    border-spacing: 30px 10px;
}

.card-2-table h3{
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 200;
    text-align: center;
}

.card-2-table td{
    border-bottom: 2px dotted var(--text-color-support);
    font-size: 20px;
}

.td-center{
    text-align: center;
}

.card-2-button{
    margin-top: 10px;
    text-align: center;
}

.card-2-button a{
    text-decoration: none;
    color: var(--bg-color);
    border: 2px solid white;
    background-color: var(--text-color-main);
    font-size: 22px;
    padding: 5px 15px;
}

/* card-2 end */
/* card-3 start */
.card-3 h1{
    font-size: 35px;
    font-weight: 200px;
    margin-bottom: 40px;
    font-weight: 200;
    margin-top: 130px;
    text-align: center;
}

.card-3-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1170px;
    margin-left: 30px;
}

.card-3-img img{
    width: 700px;
    margin-left: -300px;
    padding-top: 30px;
}

.card-3-container{
    position: absolute;
    border: 2px solid var(--text-color-support);
    padding: 30px;
    background-color: var(--bg-color);
    margin-left: 500px;
    margin-top: 30px;
}

.card-3-container table{
    border-spacing: 30px 10px;
}

.card-3-table h3{
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 200;
    text-align: center;
}

.card-3-table td{
    border-bottom: 2px dotted var(--text-color-support);
    font-size: 20px;
}

.td-center{
    text-align: center;
}

.card-3-button{
    margin-top: 10px;
    text-align: center;
}

.card-3-button a{
    text-decoration: none;
    color: var(--bg-color);
    border: 2px solid white;
    background-color: var(--text-color-main);
    font-size: 22px;
    padding: 5px 15px;
}
/* card-3 end */
/* footer start */

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.footer-social{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 380px;
}

.fotter-logo{
    display: flex;
    flex-direction: row;
}

.fotter-logo a{
    text-decoration: none;
    color: var(--text-color-main);
}

.fotter-logo img{
    width: 100px;
    padding-left: 50px;
    padding-bottom: 10px;
}

.fotter-info-1 p{
    color: var(--text-color-support);
    font-size: 20px;
}

.fotter-info-3 a{
    text-decoration: none;
    color: var(--text-color-main);
    font-size: 20px;
}

.fotter-card-1{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 300px;
}

.fotter-card-1 a{
    text-decoration: none;
    color: var(--text-color-main);
    font-size: 20px;
}

.fotter-card-2{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 200px;
}

.fotter-card-2 a{
    text-decoration: none;
    color: var(--text-color-main);
    font-size: 20px;
}

.fotter-card-3{
    display: flex;
    flex-direction: column;
    gap: 0.5;
    width: 250px;
}

.fotter-card-3 a{
    text-decoration: none;
    color: var(--text-color-main);
    font-size: 20px;
}

/* footer end */